.spinner3 {
    width: 100px;
    height: 100px;
    background-color: inherit;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    animation: spinner3 2s linear 0s infinite normal;
}

.spinner3::before {
    display: inline-block;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    left: -10px;
    top: -10px;
    /* transform-origin: center; */
    /* border-bottom: 4px solid wheat; */

}

@keyframes spinner3 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}