.spinner7 {
    width: 100px;
    height: 100px;
    border: 15px solid rgba(255, 255, 255, 0);
    background-color: inherit;
    border-radius: 100%;
    animation: border-tranparency 2s ease-in-out 0s infinite normal;
}

@keyframes border-tranparency {
    0% {
        border-top: 15px solid rgba(255, 255, 255, 1);
        border-right: 15px solid rgba(255, 255, 255, 0.5);

    }
    
    25% {
        border-top: 15px solid rgba(255, 255, 255, 0.5);
        border-right: 15px solid rgba(255, 255, 255, 1);
        border-bottom: 15px solid rgba(255, 255, 255, 0.5);
        
    }
    
    50% {
        border-top: 15px solid rgba(255, 255, 255, 0);
        border-right: 15px solid rgba(255, 255, 255, 0.5);
        border-bottom: 15px solid rgba(255, 255, 255, 1);
        
    }
    
    75% {
        
        border-right: 15px solid rgba(255, 255, 255, 0);
        border-bottom: 15px solid rgba(255, 255, 255, 1);
        border-left: 15px solid rgba(255, 255, 255, 0.5);
    }
    
    100% {
        border-bottom: 15px solid rgba(255, 255, 255, 0);
        border-right: 15px solid rgba(255, 255, 255, 0);
        border-left: 15px solid rgba(255, 255, 255, 1);
    }

}